<a href="https://colab.research.google.com/github/deep3040/TRINIT_ENEMIESOFSYNTAXX_ML/blob/main/Classifier_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pylab
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression

In [71]:
df = pd.read_excel("/content/region_crop.xlsx")

In [72]:
df.head()

         STATE  Region_C      SOIL
0  Maharashtra         6   Aluvial
1  Maharashtra         1     Black
2  Maharashtra         2       Red
3  Maharashtra         4  Laterite
4       Kerela         6   Aluvial

In [73]:
le = preprocessing.LabelEncoder()
x1 = df["SOIL"]
y1 = df["STATE"]
x = le.fit_transform(x1)
y = le.fit_transform(y1)
df1 = df.merge(pd.DataFrame({'SOIL_C':x,'STATE_C':y}),right_index=True,left_index = True)
df1.head()

         STATE  Region_C      SOIL  SOIL_C  STATE_C
0  Maharashtra         6   Aluvial       0        2
1  Maharashtra         1     Black       1        2
2  Maharashtra         2       Red       5        2
3  Maharashtra         4  Laterite       3        2
4       Kerela         6   Aluvial       0        1

In [83]:
Region_dict = {1 : "North", 2: "West", 3 : "South", 4 : "East", 5 : "Central", 6 : "Coastal"}
print(Region_dict)

{1: 'North', 2: 'West', 3: 'South', 4: 'East', 5: 'Central', 6: 'Coastal'}

In [99]:
state = input("Enter State : ")
region = int(input("Enter Regional Code (1-6) : "))

Enter State : Sikkim
Enter Regional Code (1-6) : 2

In [101]:
print("For State : {} and Region : {}".format(state,region))
ordinary=df1.query('STATE == @state and Region_C == @region')
reg_soil=list(ordinary[['STATE_C','SOIL_C']].values) #input for classifier
#output for state and region
soil_type=ordinary[['SOIL']].values
print("Soil Types found are : \n",soil_type)

For State : Sikkim and Region : 2
Soil Types found are :
 [['Aluvial']
 ['Desert']]

In [102]:
basic=pd.read_excel('/content/location_Avail.xlsx')

In [103]:
le2 = preprocessing.LabelEncoder()
x2 = basic["SOIL"]
y2 = basic["STATE"]
a = le2.fit_transform(x2)
b = le2.fit_transform(y2)
basic1 = basic.merge(pd.DataFrame({'SOIL_C':a,'STATE_C':b}),right_index=True,left_index = True)
basic1.head()

,SOIL,STATE,Rice,Cotton,Sugarcane,Wheat,Millets,Cardamom,Ginger,Coconut,Orange,Soyabean,Maize,SOIL_C,STATE_C
0,Aluvial,Maharashtra,1,0,0,1,0,0,0,0,0,0,0,0,2
1,Black,Maharashtra,0,1,0,0,0,0,0,0,0,0,0,1,2
2,Red,Maharashtra,0,0,1,0,0,0,0,0,0,0,0,5,2
3,Laterite,Maharashtra,0,0,0,0,1,0,0,0,0,0,0,3,2
4,Mountain,Maharashtra,0,0,0,0,0,0,0,0,0,0,0,4,2

In [104]:
X = basic1[['STATE_C','SOIL_C']]
Y = basic1[['Rice','Cotton','Sugarcane','Wheat','Millets','Cardamom','Ginger','Coconut','Orange','Soyabean','Maize']]

In [105]:
classifier = DecisionTreeClassifier()
classifier.fit(X,Y)

DecisionTreeClassifier()

In [106]:
a = classifier.predict(reg_soil)
a

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([[1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]])